<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>versusapi</display-name>

  <!-- User servlet-->
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.revature.versusapp.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>>
    <servlet-name>User</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  
  <!-- Login servlet -->
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.versusapp.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <!-- Registraton servlet -->
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.revature.versusapp.servlets.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <!-- Artist servlet -->
  <servlet>
    <servlet-name>Artist</servlet-name>
    <servlet-class>com.revature.versusapp.servlets.ArtistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Artist</servlet-name>
    <url-pattern>/artist</url-pattern>
  </servlet-mapping>
  
  <!-- Album servlet -->
  <servlet>
    <servlet-name>Album</servlet-name>
    <servlet-class>com.revature.versusapp.servlets.AlbumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Album</servlet-name>
    <url-pattern>/album</url-pattern>
  </servlet-mapping>
  
  <!-- Inventory servlet -->
  <servlet>
    <servlet-name>Inventory</servlet-name>
    <servlet-class>com.revature.versusapp.servlets.InventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inventory</servlet-name>
    <url-pattern>/inventory</url-pattern>
  </servlet-mapping>

</web-app>