<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>versusapi</display-name>
  <servlet>
    <!-- telling the web container a servlet that it needs to create -->
    <servlet-name>User</servlet-name>
    <servlet-class>com.revature.versusapp.servlets.UserServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <!-- telling the web container which path should go to this servlet -->
    <servlet-name>User</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <!-- telling the web container a servlet that it needs to create -->
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.versusapp.servlets.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <!-- telling the web container which path should go to this servlet -->
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>